$primary: #00AFF0;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.btn-primary {
	border-radius: 30px;
    height: 45px;
}
.btn-secondary{
	border-radius: 30px;
    height: 45px;
}
.small-username {
    font-size: .755em !important;opacity: 60% !important;font-weight: 400 !important;
}
.text-secondary {
    color: #a7a7a7!important;
}
@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
}
}